@import url('https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif, 'Slabo 27px', serif; 
    padding: 0px;
    margin: 0px;
    background-color: yellow;
}

.main{
    margin: 60px;
    border-radius: 5%;
}


.header{
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 25px;
    padding: 10px, 20px, 20px, 20px;
}