@import url('https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif, 'Slabo 27px', serif; 
    padding: 0px;
    margin: 0px;
    background-color: yellow;
}

.main{
    margin: 60px;
}

.submit{
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 25px;
    padding: 10px, 20px, 20px, 20px; 
}

#textbox{
    width: 500px;
    height: 50px;
    resize: none;

}

#sign{
    color: #007CFF;
}

#submit{
    display: inline-block;
    text-align: center;
    width: 500px;
    height: 50px;
    background-color: #007CFF;
    border: none;
}

#submit:hover{
    display: inline-block;
    text-align: center;
    width: 500px;
    height: 50px;
}

#submit:active{
    background-color: #007Cdd;
}

.header{
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 25px;
    padding: 10px, 20px, 20px, 20px;
}